
.home-banner{
    background: url("../../image/inspiredbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
    height: 300px;
    position: relative;
}
.banner-text{
    margin: auto;
    max-width: 550px;
    text-align: center;
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.home-banner h1{
    font-size: 50px;
    color:#fff;
    font-weight: 800;
    padding-bottom: 30px;
}
.home-banner p{
    font-size: 18px;
    color: #fff;
}
.home-content{
    background: rgb(238, 239, 248);
    z-index: 20!important;
    height: auto;
    position: relative;
}
.display-posts{
    padding: 40px 0px;
}
.post-row{
    background: #fff;
    margin: 3px 0px;
    width: 100%;
    height: 80px;
    transition: 0.4s all ease;
    cursor: pointer;
    position: relative;
    border-bottom: 1px solid rgba(219, 215, 215, 0.644);
}
.post-row:hover {
    background:rgb(235, 247, 255);
    /* color: rgb(79, 172, 201); */
}.post-row:hover .blogpost-nav{
    color:#333;
}
.post-row .left{
    border-right: 2px solid rgba(173, 206, 250, 0.164);
}
.blogpost-nav{
    text-decoration: none;
    color:#333;
}
.post-container{
    width: 100%;
   
}
.post-container .topic{
    font-size: 15px;
    font-weight:500;
    text-transform: capitalize;
    padding-bottom: 20px;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    padding-top: 20px;
}
.post-container .topic span{
    position: relative;
    left: -5px;
}
.homearrow{
    color:rgba(175, 174, 174, 0.788);
    font-size: 22px;
}
.arrow-right{
    position: relative;
    left: -15px;
}
.post-row:hover .post-nav{
    color:#333!important;
}
.post-nav{
    text-decoration: none;
    color:#333;
}
.post-container .home-bottom{
    position: absolute;
    bottom:0;
    width: 98%;
    display: flex;
    justify-content: space-between;
    color: rgb(201, 201, 201);
}
.home-bottom .content{
    padding-left: 5px;
    text-transform: capitalize;
    font-size: 14px;
}

.post-container-right{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top:5px
}
/* .post-container-right .like{
    background: rgba(175, 174, 174, 0.788);
    padding: 7px 15px;
    border-radius: 5px;
}
.like-btn{
    border: none;
    margin-top: 5px;
} */
.home-category{
    display: flex;
    flex-direction: column;
    background: #fff;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.home-btn{
    border-right: none;
    border-left: none;
    padding: 10px;
    background: #fff;
    border: 1px solid rgba(221, 220, 220, 0.555);
    text-align: left;
}
.activeclass .home-btn:hover{
    background: var(--blackColor)!important;
    color:#fff!important
}
.home-category .text{
    font-size: 16px;
    text-transform: uppercase;
    color:var(--primaryColor);
    font-weight: 600;
    padding: 20px 0px;
    padding-left: 5px;
}

/* css for pagination */
.paginationBttns{
    width: 100%;
    height: 30px;
    list-style: none;
    display: flex;
    justify-content: center;
    /* margin-top: 30px; */
}
.paginationBttns a{
    padding: 5px 10px;
    margin: 10px;
    border-radius: 5px;
    border:1px solid var(--mainBlue);
    color: var(--mainBlue);
    cursor:pointer;
    transition:0.4s all ease ;
    text-decoration: none;
}
.paginationBttns a:hover{
    color:#fff!important;
    background: var(--primaryColor)
}
.paginationActive a{
    background: var(--primaryColor);
    color:#fff!important;
}
@media screen and (max-width: 760px){
    .post-row{
        background: #fff;
        margin: 3px 0px;
        width: 100%;
        height: auto;
        align-items: center;
       
    }
    .post-topic{
        line-height: 30px;
    }
}